- HOW TO CREAT DICTIONARY IN DIFFERENT WAYS
- HOW TO ACCES KEY AND VALUES
- LOOPS IN DICTIONARY

In [10]:
temp={
    'lucknow':[25,30,35],
    'delhi':[20,25,30],
    'mumbai':[30,35,40],

}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [20, 25, 30], 'mumbai': [30, 35, 40]}

In [13]:
info=dict(name='john',roll_no=2,age=17)
print(info)

{'name': 'john', 'roll_no': 2, 'age': 17}

In [14]:
info2=dict([('name','john'),('roll_no',17),])
print(info2)

{'name': 'john', 'roll_no': 17}

In [20]:
info3=dict(name=input('enter name:'),roll_no=int(input('enter roll no')),age=int(input('enter your age')))
print(info3)

{'name': 'yash', 'roll_no': 21, 'age': 21}

In [1]:
student ={
    "name":"john",
    "class":"12th",
    "roll_no":2,
    "age":17

}
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17}

In [2]:
## first mathod
print(student['age'])
print(student['name'])
print(student['roll_no'])

17
john
2

In [3]:
# to add a key value pair
student['address'] = 'lucknow'
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'address': 'lucknow'}

In [4]:
# 2nd method
print(student.get('age'))
print(student.get('name'))

17
john

In [5]:
student["name"]= 'ayush'
print(student)

{'name': 'ayush', 'class': '12th', 'roll_no': 2, 'age': 17, 'address': 'lucknow'}

In [6]:
# sirf keys aayenge
for x in student:
    print(x)

name
class
roll_no
age
address

In [7]:
# key ke saath values bhi print hongi
for k,v in student.items():
    print(f"{k}:{v}")

name:ayush
class:12th
roll_no:2
age:17
address:lucknow

In [8]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'address'])
dict_values(['ayush', '12th', 2, 17, 'lucknow'])
dict_items([('name', 'ayush'), ('class', '12th'), ('roll_no', 2), ('age', 17), ('address', 'lucknow')])

In [18]:
company={
    'emp001': {'name': 'john', 'age': 25,'dept': 'HR'},
    'emp002': {'name': 'emma', 'age': 30,'dept': 'IT'},
    'emp003': {'name': 'linda', 'age': 35,'dept': 'admin'},
    'emp004': {'name': 'pam', 'age': 40,'dept': 'accounts'}
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR'}, 'emp002': {'name': 'emma', 'age': 30, 'dept': 'IT'}, 'emp003': {'name': 'linda', 'age': 35, 'dept': 'admin'}, 'emp004': {'name': 'pam', 'age': 40, 'dept': 'accounts'}}

In [21]:
from pprint import pp
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR'},
 'emp002': {'name': 'emma', 'age': 30, 'dept': 'IT'},
 'emp003': {'name': 'linda', 'age': 35, 'dept': 'admin'},
 'emp004': {'name': 'pam', 'age': 40, 'dept': 'accounts'}}

In [23]:
print(company['emp002']['age'])
print(company['emp004']['dept'])

30
accounts

In [25]:
print(temp['lucknow'][1])

30

In [31]:
a= sum(temp['delhi'])
b= len(temp['delhi'])
print(a)
print(b)

75
3

In [32]:
print(a/b)

25.0

In [28]:
print('average of delhi temprature:',sum(temp['delhi'])/len(temp['delhi']))

average of delhi temprature: 25.0