In [3]:
fruits=['orange','apple','pear','banana','kiwi']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi']

In [4]:
for x in fruits:
    print(x)

orange
apple
pear
banana
kiwi

In [5]:
for x in fruits:
    print(x,end='ðŸ˜‚')

orangeðŸ˜‚appleðŸ˜‚pearðŸ˜‚bananaðŸ˜‚kiwiðŸ˜‚

In [6]:
name="chandrashekar"
for i in name:
    print(i)

c
h
a
n
d
r
a
s
h
e
k
a
r

In [7]:
name="chandrashekar"
for i in name:
    print(i,end="")

chandrashekar

In [8]:
for num in range(30):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
for num in range(30):

    print(num)

In [14]:
name="yash"
for n in range(5):
    print(name)

yash
yash
yash
yash
yash

In [22]:
a=10
b=5
sum=a+b
print("sum:",sum)
print("sum of",a, "and",b, "is",sum)
print(f"sum of{a} and {b} is {sum}")

sum: 15
sum of 10 and 5 is 15
sum of10 and 5 is 15

In [23]:
for i in range(1,11):
    print(i*15)

15
30
45
60
75
90
105
120
135
150

In [24]:
for i in range(1,11):
    print(f"15*{i}={15*i}")

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150

In [1]:
num=0
while num <10:
    print(num)
    num+=1;

0
1
2
3
4
5
6
7
8
9

In [4]:
num=0
while num<5:
    print("yash")
    num+=1;

yash
yash
yash
yash
yash

In [9]:
num=0
while num<20:
    print(num)
    num+=2

0
2
4
6
8
10
12
14
16
18

In [10]:
fruit="pineapplemango"
for i in fruit:
    if i == 'a':
        break
    print(i,end='')

pine

In [14]:
fruits=['apple','banana','cherry','orange','onion','kiwi','melon','mango']
for fruit in fruits:
    if fruits =="onion":
        continue
    print(fruit)

apple
banana
cherry
orange
onion
kiwi
melon
mango

In [19]:
name='yashrastogi'
for i in name:
    if i=='r':
        break
    print(i,end='')

yash

In [21]:
name='yashrastogi'
for i in name:
    if i=='r':
        break
    print(i,end='\n')

y
a
s
h